/*Reset Layout*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
/*Reset Layout*/


body{
    width: 100%;
    min-height: 100vh;
    background-color:  rgb(192, 192, 192);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
   display: flex;
   align-items: center;
   justify-content: start;
   width: 60%;
   height: 100vh;
}

.isntagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.isntagram-phone img{
    width: 25rem;
}
/*Colocando um Clip mask para melhorar o tamanho da imagem */
.container-moldura{
    width: 100px;
    height: 100px;
}
.moldura{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.205);
    position: absolute;
 
}
.profile-photo img{
    width: 100px;
    clip: rect(0 100px 100px 0);
    position: absolute;
}
/*Colocando um Clip mask para melhorar o tamanho da imagem */
.instagram-logo{
    width: 20rem;
}
