/*Reset Layout*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
/*Reset Layout*/


body{
    width: 100%;
    min-height: 100vh;
    background-color:  rgb(199, 199, 199);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
   display: flex;
   align-items: center;
   justify-content: start;
   width: 60%;
   height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.instagram-phone img{
    height: 34rem;
    
    
}

.instagram-continue{
    display: flex;
    align-items: center; /*Fica na horizontal  quando setado flex-direction:column; */
    justify-content: space-around; /*Fica na vertical quando setado flex-direction:column; */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    
}

.group{
    display: flex;
    justify-content: space-between; /*Fica na vertical quando setado flex-direction:column; */
    align-items: center; /*Fica na horizontal  quando setado flex-direction:column; */
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
  
    box-shadow: 0 0 5px black;
}

.group:nth-child(1){
    min-height: 19rem;
}
.instagram-logo{
    width: 10rem;
}

.container-moldura, .moldura, .profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    min-height: 6rem;
    margin: 1rem;
  
}

.instagram-login{
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}
.not-account{
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
    
}

.app-download:nth-child(1){
    background-image: url('/img/app-store-botao.png');
}
.app-download:nth-child(2){
    background-image: url('/img/google-play-botao.png');
}

/*Colocando um Clip mask para melhorar o tamanho da imagem */
.container-moldura{
    width: 5rem;
    height: 5rem;

   
}
.moldura{
    width: 8rem;
    position: absolute;
   
 
}
.profile-photo img{
    width: 10rem;
    clip: auto(0 15rem 15rem 0);
    position: absolute;
   
}
/*Colocando um Clip mask para melhorar o tamanho da imagem */

/* media queries */

@media(max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media(max-width: 650px){
    body{
        background-color: #fff;
    }

    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }
    .instagram-continue{
        width: 100%;
    }
    .group{
        border:none;
        box-shadow: none;
    }
}